1. 
Each of the following variable assignments has something wrong. Identify the error and correct it.

In [8]:
#starting variale with a numeral

number = 5
number

5

In [9]:
#doesn't follow rules for assigning variable names

my_name = "Ada"
my_name

'Ada'

In [14]:
#print is a keyword can-t be a variable


print_1 = 10

In [16]:

#space between variable name
total_sum = 300
total_sum

300

In [18]:
#missing quotation mark at the end of the string

age = "25"
age

'25'

2. 

A young entrepreneur named Zara sells handmade beaded bracelets.

- She sells each bracelet for ₦750

- She made 20 bracelets this week

- She spent ₦3,000 on materials

- She also spent ₦1,500 on delivery and ₦500 on packaging

- She gave a ₦250 discount to one customer

- She plans to save 20% of her profit

Tasks:

a. Create variables to represent all the details above. Use descriptive variable names.

b. Calculate:

- Zara’s total income

- Zara’s total expenses

- Her actual profit after the discount

- How much she will save from her profit

part a

In [25]:
#creating variables

price_for_each_bracelet=750
bracelets_made_this_week=20
cost_of_materials=3000
delivery_cost=1500
packaging_cost=500
discount=250
percent_saved=0.2
#20% to be saved

part b

In [21]:
#total income
zara_income=price_for_each_bracelet*bracelets_made_this_week
zara_income

15000

In [22]:
#total expenses
zara_expenses=cost_of_materials+delivery_cost+packaging_cost
zara_expenses

5000

In [24]:
zara_profit=zara_income-zara_expenses-discount
zara_profit

9750

In [27]:
profit_saved=percent_saved*zara_profit
profit_saved

1950.0

3. Each of the following lines has a problem related to how strings work in Python. Identify and fix the problem.

In [29]:
#having the apostrophe in the name, use of double qoutes will solve this
greeting = "Hello, my name is John and I’m learning Python."
greeting

'Hello, my name is John and I’m learning Python.'

In [31]:
#could use either single or double quotes for string and the other for the speech
quote = 'She said, "Python is easy to learn." '
quote

'She said, "Python is easy to learn." '

In [46]:
#the print function is not formatted to output the variable name

name = 'Musa'
print(f"Hello {name}")

Hello Musa

In [55]:
#unterminated sring

story = """Today was a good day,
I learned about variables."""
story

'Today was a good day,\nI learned about variables.'

In [61]:
title = "introduction to python"
print(title.capitalize())
# Expected output: Introduction To Python

Introduction to python

4. Section D: Lists
Create a list of five items Zara might need to buy to continue her bracelet business (e.g., beads, strings, glue...).

Write Python code to:
a. Print the first and last item in the list
b. Add a new item to the list
c. Remove one item from the list
d. Print the number of items in the list

In [62]:
zara_items=['glue','beads','strings', 'rubbber bands', 'paints','branding tapes' ]
zara_items

['glue', 'beads', 'strings', 'rubbber bands', 'paints', 'branding tapes']

part a

In [63]:
#first item
zara_items[0]

'glue'

In [64]:
#last item
zara_items[-1]

'branding tapes'

part b

In [85]:
#adding new item
zara_items.append('gum')
zara_items

['beads',
 'strings',
 'rubbber bands',
 'paints',
 'branding tapes',
 'gum',
 'gum',
 'gum',
 'gum',
 'gum']

part c

In [75]:
#removing item
zara_items.pop(0)
zara_items

['beads',
 'strings',
 'rubbber bands',
 'paints',
 'branding tapes',
 'gum',
 'gum',
 'gum',
 'gum',
 'gum']

part d

In [89]:
#print items
print(f'There are {len(zara_items)} items in zaras list')

There are 10 items in zaras list