Handling Numbers

In [3]:
#10% of number like 40
x=0.1
y=40
product=x*y
print(product)

4.0

In [9]:
x=input("Enter a number: ")
x=int(x) 
product1=0.1*x
print(product1)

3.4000000000000004

Looping Through List

In [22]:
class_list=['Daniel', 'David', 'Diana', 'Derek', 'Daisy']
print(class_list)
for student in class_list:
    print(f'Thank you for Joining {student}')  
class_list2=[]
class_list2

['Daniel', 'David', 'Diana', 'Derek', 'Daisy']
Thank you for Joining Daniel
Thank you for Joining David
Thank you for Joining Diana
Thank you for Joining Derek
Thank you for Joining Daisy

[]

Range Function

In [44]:
nums=range(2,10)

nums=list(nums)
print(nums)

for i in range(2,10):
    #print(f'Sq of {i} is {i**2}')

    #print(f'Cube of {i} is {i**3}')

    print(f'Sqrt of {i} is {i**0.5}')

[2, 3, 4, 5, 6, 7, 8, 9]
Sqrt of 2 is 1.4142135623730951
Sqrt of 3 is 1.7320508075688772
Sqrt of 4 is 2.0
Sqrt of 5 is 2.23606797749979
Sqrt of 6 is 2.449489742783178
Sqrt of 7 is 2.6457513110645907
Sqrt of 8 is 2.8284271247461903
Sqrt of 9 is 3.0

In [46]:
len(nums)
sum(nums)
mean=sum(nums)/len(nums)
print(mean)

5.5

List Comprehension

In [54]:
num_sq=(num**2 for num in nums)
print(num_sq)

grades=[70, 80, 90, 60, 50]
grades.sort()
print(grades)
for grade in grades:
    upgraded_grade=grade+5
    print(upgraded_grade)

upgrades=[grade-5 for grade in grades]
print(upgrades)

<generator object <genexpr> at 0x0000020BD6434450>
[50, 60, 70, 80, 90]
55
65
75
85
95
[45, 55, 65, 75, 85]

Tuples

In [65]:
my_tuple=(1, 2, 3, 4, 5)
print(my_tuple)
#dir(my_tuple)
#type(my_tuple)
items='hat', 'coat', 'shoes'
type(items)
items2=list(items)
type(items2)
items2.append('attire')
items2
items=tuple(items2)
items

(1, 2, 3, 4, 5)

('hat', 'coat', 'shoes', 'attire')

In [18]:
class_list2.append('Deborah')
class_list2.append('Dylan')
print(class_list2)

['Deborah', 'Deborah', 'Dylan', 'Deborah', 'Dylan', 'Deborah', 'Dylan']

In [10]:
dob='14/10/1999'
year=dob[6:]
year=int(year)
year

1999