COMPARISON OPERATORS
LOGICAL OPERATORS
CONDITIONAL STATEMENTS(IF, ELIF AND ELSE)
DICTIONARIES

In [3]:
56==79

76>98

10<=20

3!=4

True == False

False

In [4]:
x=6
y=6

x or y

6

In [1]:
2<5 and 5>6

False

In [17]:
x=18
if x>18:
    print("x is greater than 18")
elif x==18:
    print("x is equal to 18")
else:
    print("x is less than equal to 18")

x is equal to 18

In [24]:
password=12345
x=input("Enter password: ")
if password==x:
    print("Welcome User")
else:
    print("Wrong Password")

Wrong Password

In [30]:
grade=int(input("Enter your marks: "))
if grade <40:
    print(f'Your score is {grade} which is E')
elif grade>=40 and grade< 50:
    print(f'Your score is {grade} which is D')
elif grade>=50 and grade<60:
    print(f'Your score is {grade} which is C')
elif grade>=60 and grade<70:
    print(f'Your score is {grade} which is B')
elif grade>=70:
    print(f'Your score is {grade} which is A')

Your score is 30 which is E

In [5]:
grade=int(input("Enter your marks: "))
while grade < 40:
    print(f'Your score is {grade}, you failed exams')
    grade=int(input("Enter your marks: "))

DICTIONARIES

In [14]:
scores={'DAN': 90, 'KIM': 80, 'JEN':89, 'TOM': 78, 'TED': 93}

scores
scores['DAN']=87
scores
scores['WES']=98
scores

scores.get('DAN', 'Not Found')
scores.get('JEN', 'Not Found')
scores.get('JON', 'Not Found')

'Not Found'

In [27]:
stock={'items':['phone', 'laptop', 'ipad', 'tablet', 'desktop'],
'color':['black', 'white', 'blue', 'red', 'green'],
'model':['Apple', 'Dell', 'Samsung', 'Lenovo', 'HP'],
'price $':[1000, 2000, 3000, 4000, 5000],
'origin':['USA', 'UK', 'China', 'India', 'Japan'],
'quantity':[5, 2, 4,1,9]}

import pandas as pd
pd.DataFrame(stock)
#csv_filename='stock.csv'

     items  color    model  price $ origin  quantity
0    phone  black    Apple     1000    USA         5
1   laptop  white     Dell     2000     UK         2
2     ipad   blue  Samsung     3000  China         4
3   tablet    red   Lenovo     4000  India         1
4  desktop  green       HP     5000  Japan         9