SETS

In [2]:
class_set={'Divine', 'Fallen', 'Fallen Angel', 'Fallen God', 'Fallen Hero', 'Fallen One', 'Fallen Star', 'Fallen Warrior', 'Hero', 'Heroine', 'Legendary Hero', 'Legendary Heroine', 'Legendary Warrior', 'Legendary Warrior Princess', 'Legendary Warrior Queen', 'Legendary Warrior King', 'Legendary Warrior Prince', 'Legendary Warrior Princess of the Night', 'Legendary Warrior Queen of the Night'}
class_set
'divine' in class_set

False

In [6]:
chemistry_students={'Ann', 'Bob', 'Charlie'}

biology_students={'Bob', 'Charlie', 'David'}

chemistry_students.intersection(biology_students)

chemistry_students.difference(biology_students)

{'Ann'}

sets used to remove duplicates

In [10]:
dup_list=['Ann', 'Bob', 'Charlie', 'Ann', 'Bob', 'Charlie', 'Sam']
dup_list
dup_set=set(dup_list)
dup_set

{'Ann', 'Bob', 'Charlie', 'Sam'}

while loops

In [14]:
response=''

while response !='quit':
    response=input("Your Nme? type \"quit\" to exit:")
    print(response)

Laker
Quit
quit

break within while loops

In [16]:
response=''

while True:
    response=input("Your Nme? type \"quit\" to exit:")
    if response=='quit':
        break
    print(response)

Jenn

create empty dictionary
populate dictionary with item/quantity
read dictionary
update dictionary
delete item from dictionary

In [1]:
import pandas as pd
inventory={}

In [9]:
#create dictionary for inventory

item_name=input("Enter item name of item:")
quantity=input(f"Enter the quantity for {item_name}:")

inventory[item_name]=quantity

In [10]:
print(inventory)

{'pot': '145', 'Spoons': '675', 'Cooker': '2', 'Sufuria': '76', 'Spices': '65', 'Gas Cylinders': '3', 'Dishes': '56'}

In [11]:

inventory_df= pd.DataFrame(list(inventory.items()),columns= ["item",'quantity'])
inventory_df

            item quantity
0            pot      145
1         Spoons      675
2         Cooker        2
3        Sufuria       76
4         Spices       65
5  Gas Cylinders        3
6         Dishes       56

In [13]:
#update dictionaru
item_name=input("Enter item to update:")
quantity=input("Enter quantity of {item_name}: ")

inventory[item_name]=quantity

print(inventory)

{'pot': '145', 'Spoons': '675', 'Cooker': '2', 'Sufuria': '76', 'Spices': '65', 'Gas Cylinders': '3', 'Dishes': '56', 'Plates': '56', 'Forks': '78'}

In [14]:
inventory_df= pd.DataFrame(list(inventory.items()),columns= ["item",'quantity'])
inventory_df

            item quantity
0            pot      145
1         Spoons      675
2         Cooker        2
3        Sufuria       76
4         Spices       65
5  Gas Cylinders        3
6         Dishes       56
7         Plates       56
8          Forks       78

In [35]:
inventory.update(item_name:quantity)

SyntaxError: invalid syntax (4026243260.py, line 1)