In [27]:
import pandas as pd
data_load=r'C:\Users\Jiary\Documents\Github\DS_Altschool\Data_Dataset\train_and_test2.csv'
df = pd.read_csv(data_load)
df.head()
df.info()
df.describe(include='all')
df.columns
df.shape
df.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 28 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Passengerid  1309 non-null   int64
 1   Age          1309 non-null   float64
 2   Fare         1309 non-null   float64
 3   Sex          1309 non-null   int64
 4   sibsp        1309 non-null   int64
 5   zero         1309 non-null   int64
 6   zero.1       1309 non-null   int64
 7   zero.2       1309 non-null   int64
 8   zero.3       1309 non-null   int64
 9   zero.4       1309 non-null   int64
 10  zero.5       1309 non-null   int64
 11  zero.6       1309 non-null   int64
 12  Parch        1309 non-null   int64
 13  zero.7       1309 non-null   int64
 14  zero.8       1309 non-null   int64
 15  zero.9       1309 non-null   int64
 16  zero.10      1309 non-null   int64
 17  zero.11      1309 non-null   int64
 18  zero.12      1309 non-null   int64
 19  zero.13      1309 non-null   int64
 20  zero.14      1309 non-null   int64
 21  Pclass       1309 non-null   int64
 22  zero.15      1309 non-null   int64
 23  zero.16      1309 non-null   int64
 24  Embarked     1307 non-null   float64
 25  zero.17      1309 non-null   int64
 26  zero.18      1309 non-null   int64
 27  2urvived     1309 non-null   int64
dtypes: float64(3), int64(25)
memory usage: 286.5 KB

Passengerid      int64
Age            float64
Fare           float64
Sex              int64
sibsp            int64
zero             int64
zero.1           int64
zero.2           int64
zero.3           int64
zero.4           int64
zero.5           int64
zero.6           int64
Parch            int64
zero.7           int64
zero.8           int64
zero.9           int64
zero.10          int64
zero.11          int64
zero.12          int64
zero.13          int64
zero.14          int64
Pclass           int64
zero.15          int64
zero.16          int64
Embarked       float64
zero.17          int64
zero.18          int64
2urvived         int64
dtype: object

In [36]:
data_load2=r'C:\Users\Jiary\Documents\Github\DS_Altschool\Data_Dataset\students_dropout_academic_success.csv'
df=pd.read_csv(data_load2)
df.head()

df.info()
df.describe(include='all')
df.columns
df.shape

df[['Gender', 'Course']]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4424 entries, 0 to 4423
Data columns (total 37 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital Status                                  4424 non-null   int64
 1   Application mode                                4424 non-null   int64
 2   Application order                               4424 non-null   int64
 3   Course                                          4424 non-null   int64
 4   Daytime/evening attendance                      4424 non-null   int64
 5   Previous qualification                          4424 non-null   int64
 6   Previous qualification (grade)                  4424 non-null   float64
 7   Nacionality                                     4424 non-null   int64
 8   Mother's qualification                          4424 non-null   int64
 9   Father's qualification                          4424 non-null   int64
 10  Mother's occupation                             4424 non-null   int64
 11  Father's occupation                             4424 non-null   int64
 12  Admission grade                                 4424 non-null   float64
 13  Displaced                                       4424 non-null   int64
 14  Educational special needs                       4424 non-null   int64
 15  Debtor                                          4424 non-null   int64
 16  Tuition fees up to date                         4424 non-null   int64
 17  Gender                                          4424 non-null   int64
 18  Scholarship holder                              4424 non-null   int64
 19  Age at enrollment                               4424 non-null   int64
 20  International                                   4424 non-null   int64
 21  Curricular units 1st sem (credited)             4424 non-null   int64
 22  Curricular units 1st sem (enrolled)             4424 non-null   int64
 23  Curricular units 1st sem (evaluations)          4424 non-null   int64
 24  Curricular units 1st sem (approved)             4424 non-null   int64
 25  Curricular units 1st sem (grade)                4424 non-null   float64
 26  Curricular units 1st sem (without evaluations)  4424 non-null   int64
 27  Curricular units 2nd sem (credited)             4424 non-null   int64
 28  Curricular units 2nd sem (enrolled)             4424 non-null   int64
 29  Curricular units 2nd sem (evaluations)          4424 non-null   int64
 30  Curricular units 2nd sem (approved)             4424 non-null   int64
 31  Curricular units 2nd sem (grade)                4424 non-null   float64
 32  Curricular units 2nd sem (without evaluations)  4424 non-null   int64
 33  Unemployment rate                               4424 non-null   float64
 34  Inflation rate                                  4424 non-null   float64
 35  GDP                                             4424 non-null   float64
 36  target                                          4424 non-null   object
dtypes: float64(7), int64(29), object(1)
memory usage: 1.2+ MB

      Gender  Course
0          1     171
1          1    9254
2          1    9070
3          0    9773
4          0    8014
...      ...     ...
4419       1    9773
4420       0    9773
4421       0    9500
4422       0    9147
4423       0    9773

[4424 rows x 2 columns]

In [39]:
patient=r'C://Users/Jiary/Documents/Github/ML/patient_diagnosis_filtered_data.csv'
df=pd.read_csv(patient)
df.head()
df.info()
df.describe()
df.describe(include='all')
df.columns
df.shape
df[['pid', 'disease']]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123 entries, 0 to 122
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   pid      123 non-null    int64
 1   disease  123 non-null    object
dtypes: int64(1), object(1)
memory usage: 2.1+ KB

     pid    disease
0    101       URTI
1    102    Healthy
2    104       COPD
3    105       URTI
4    106       COPD
..   ...        ...
118  222       COPD
119  223       COPD
120  224    Healthy
121  225    Healthy
122  226  Pneumonia

[123 rows x 2 columns]

In [54]:
import pandas as pd
mydata=r'C:\Users\Jiary\Desktop\Final_Year\Year\DATA2.xlsx'
df=pd.read_excel(mydata)
df.head()
df.info()
df.shape
df.describe(include='all')
df[['time', 'weight']]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7722 entries, 0 to 7721
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    7722 non-null   object
 1   weight  7719 non-null   float64
dtypes: float64(1), object(1)
memory usage: 120.8+ KB

       time  weight
0        92   70.15
1       102   72.61
2       113   74.54
3       124   72.96
4       134   69.80
...     ...     ...
7717  98554 -724.66
7718  98564 -725.36
7719  98575 -724.83
7720  98586 -722.90
7721  98597 -723.08

[7722 rows x 2 columns]